<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listener.ConnectionListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>RegistrationController</servlet-name>
        <servlet-class>Controller.RegistrationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageLoader</servlet-name>
        <servlet-class>Controller.ImageLoader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadProfileImage</servlet-name>
        <servlet-class>Controller.UploadProfileImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LinkLoginController</servlet-name>
        <servlet-class>Controller.LinkLoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WriteBlogController</servlet-name>
        <servlet-class>Controller.WriteBlogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImageController</servlet-name>
        <servlet-class>Controller.UploadImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadImgController</servlet-name>
        <servlet-class>Controller.UploadImgController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyProfileContoller</servlet-name>
        <servlet-class>Controller.MyProfileContoller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PathImageLoader</servlet-name>
        <servlet-class>Controller.PathImageLoader</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrationController</servlet-name>
        <url-pattern>/RegistrationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageLoader</servlet-name>
        <url-pattern>/ImageLoader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadProfileImage</servlet-name>
        <url-pattern>/UploadProfileImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LinkLoginController</servlet-name>
        <url-pattern>/LinkLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WriteBlogController</servlet-name>
        <url-pattern>/WriteBlogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadImgController</servlet-name>
        <url-pattern>/UploadImgController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyProfileContoller</servlet-name>
        <url-pattern>/MyProfileContoller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PathImageLoader</servlet-name>
        <url-pattern>/PathImageLoader</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
